.salvager {
  display: flex;
  flex-direction: column;
}
.switcher {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100vh - var(--headerH));
  height: calc(100dvh - var(--headerH));
}
.switcher .buttons{
  display: flex;
  background-color: var(--dark);
  z-index: 1000;
}
.switcher >.buttons > div {
  margin: 0rem 0.25rem;
}
.salvager-panel {
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0rem 0rem 1rem var(--dark);
  display: flex;
  justify-content: center;
  padding: 5rem 0rem;
  background-image: linear-gradient(
      45deg,
      var(--colorArrowsB) 0.5rem,
      transparent 0.5rem
    ),
    linear-gradient(-45deg, var(--colorArrowsA) 0.25rem, transparent 0.5rem),
    linear-gradient(135deg, var(--colorArrowsB) 0.5rem, transparent 0.5rem),
    linear-gradient(-135deg, var(--colorArrowsA) 0.25rem, transparent 0.5rem);
  background-position: 2.5rem 5rem, 5rem 2.5rem, 2.5rem 5rem, 5rem 2.5rem;
  background-size: 5rem 5rem;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: var(--light);
}
.salvager-panel * {
  color: var(--light);

}
.panel-item {
  background-color: var(--darkA);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: fit-content;
}

.panel-item .small-heading {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0rem;
} 
.panel-item .fields {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.panel-item .fields > * {
  padding: 1rem;
  width: 15rem;
}
.panel-item .fields select, .panel-item .fields option, .panel-item .fields input  {
    color:var(--dark);
  }

.results-panel {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 5rem 0rem;
  background-color: var(--darkA);
  color: var(--light);
  display: flex;
  justify-content: center;
}
.results-board {
  width: 80%;
  background-color: var(--dark);
  min-height:100%;
  padding: 1rem;
}
.legend {
  display: flex;

}
@media screen and (max-width: 800px) {

  .switcher .buttons{
    justify-content: center;
 
  }
  .results-board {
    width: 100%;
  }
}
