<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eve Hobo</title>
</head>
<body>
    <header>
        <nav>
            <a href="/salvager">Calculator</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <h1 class="heading-large">Welcome to Eve Hobo<br> your best friend for scrap-salvaging.</h1>
    <footer>
        <div>
           Eve Hobo &copysr; 2023
        </div>
    </footer>
</body>
</html>