{% extends 'layout.html' %} {% block content %}

<section class="salvager">
  <div class="switcher">
    <div class="buttons">
      <div id="salvager-btn" class="btn">salvager</div>
      <div id="results-btn" class="btn">results</div>
    </div>
    <div id="salvager-id" class="salvager-panel">
      <form  id="repro-submit" action="/reprocess" method="post" class="panel-item">
        <div class="fields">
          <label for="search-thru">Search thru :</label>
          <select name="search-thru">
            <option value="buy_orders" selected>Buy Orders</option>
            <option value="sell_orders">Sell Orders</option>
          </select>
          <label for="search-by">For :</label>
          <select name="search-by">
            <option value="percentage" selected>Percentage %</option>
            <option value="amount">Amount of ISK</option>
          </select>
          <label for="amount">Equal to :</label>
          <input
            name="amount"
            type="number"
            id="buy-input"
            value="0"
            min="1"
            oninput="this.value=Math.abs(this.value)"
          />
    
          <label for="search-with">Materials price :</label>
          <select name="search-with">
            <option value="buy" selected>Buy</option>
            <option value="sell">Sell</option>
          </select>
          <label for="skill">Reprocess Skill :</label>
          <select name="skill">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <button class="btn" type="submit">submit</button>
      </form>
    </div>
    <div id="results-id" class="results-panel">
      <div class="results-board">
        <div class="legend">
          <span>
            Item
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
