{% extends 'layout.html' %} {% block content %}

<section class="salvager">
    <div class="db_controls">
        <div class="buy">
      <div class="TELUpdate">
        <span>Buy Orders Last Update :</span>
        <span>{{ TELBuyUpdate }}</span>
    </div>
    <div id="update-buy" class="btn">Update Buy Orders</div>
</div>
<div class="sell">
    <div class="TELUpdate">
        <span>Sell Orders Last Update :</span>
        <span>{{ TELLSellUpdate }}</span>
    </div>
    <div id="update-sell" class="btn">Update Sell Orders</div>
</div>
</div>

</section>
{% endblock %}
